{% extends "base.html"%}


{% block content %}
<form action="/AgregarVehiculo" method="POST">
<input type="text" name="Placas" placeholder="  Placas">
<input type="text" name="Tipo de vehiculo" placeholder="  Tipo de vehiculo">
<input type="text" name="Modulo" placeholder="  Modelo">
<input type="text" name="Uso" placeholder="  Uso">


<button class="btnguardausa">Guardar</button>
</form>
<div class="Tabla">

<table class="table" id="tabl">
    <thead>
      <tr>
        <th scope="col">Placas</th>
        <th scope="col">Tipo de vehiculo</th>
        <th scope="col">Modelo</th>
        <th scope="col">Uso</th>
        <th scope="col">Opciones</th>
    
      </tr>
    </thead>
    <tbody>
    
    {% for i in datos %}   
      <tr>        
        <td>{{i.0}}</td>
        <td>{{i.1}}</td>
        <td>{{i.2}}</td>
        <td>{{i.3}}</td>
        <td>
        <a href="eliminarVehiculo/{{i.0}}" class="btn btn-danger">Eliminar</a>
        <a href="actualizarVehiculosvista/{{i.0}}" class="btn btn-secondary">Actualizar</a>
        </td>
      </tr>
    {% endfor %}
    </tbody>
  </table>
</div>
</div>
{% endblock %}