{% extends "base.html" %}

{% block content %}

<div class="jumbotron">
    
    <h1 class="display-4">¡Bienvenido! Gracias por su preferencia. </h1>
    <p class="lead">¡Hola! Gracias por utilizar nuestro Sistema de Control, este Sistema tiene
       como principal objetivo el bridar un control de la Asistencia de usuarios, podrá registrar
       el ingreso de los usuarios a través de una terminal, este registro de entradas será almacenado 
       dentro del sistema, también cuenta con la función de enviar mensajes via Whatsapp a aquellas 
       personas encargadas de supervisar a los usuarios, esto con el principal objetivo de poder brindarle 
       el mejor control y manejo de la asistencia de los usuarios </p>
    <hr class="my-4">
    <p>También se cuenta con el control de las entradas y salidas de los vehículos que pueda manejar la empresa.
       Deseamos brindar el mejor servicio y calidad con nuestro sistema.
    </p>
    <p class="lead">
        <div class="btna"><a class="btn btn-primary btn-lg" href="#" role="button">Saber mas sobre nosotros</a></div>
      
    </p>
    </code>
  </div>
  

{% endblock %}